.form {
  @extend %container;
}

.blank {
  border: 5px solid $main-color;
  padding: 25px 9%;
  font-size: 18px;
  line-height: 23px;

  &-wrapper {
    padding: 20px 25px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  }

  &__title {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 46px;
    margin-bottom: 25px;
  }

  &__choose {
    padding-top: 25px;
  }

  &__weeks {
    display: flex;
    flex-wrap: wrap;
  }

  &__radio {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 10px;
  }

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__input {
    font-size: 14px;
    line-height: 23px;
    padding: 15px 30px;
    border: 2px solid #e2c765;
    width: 100%;
    margin: 7px 0 16px 0;
  }

  &__data {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &:last-child {
      width: 100%;
    }
  }
  &__mark {
    // display: flex;
    // justify-content: space-between;
    margin-bottom: 15px;
  }
  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: rgba(0, 0, 0, 0.5);
  }
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 19px;
  height: 19px;
  padding: 3px;
  background-clip: content-box;
  border: 2px solid #e2c765;
  outline: none;
  border-radius: 50%;
  margin-right: 10px;
}

input[type="radio"]:checked {
  background-color: $red-color;
}

.check {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  position: relative;
  outline: none;
  &--bordered {
    border: 2px solid #e2c765;
    display: inline-block;
    margin-right: 37px;
  }
}

.check::before {
  content: "✔";
  position: absolute;
  left: 0px;
  top: -5px;
  color: $red-color;
  font-size: 1.3rem;
  display: none;
}

.check:checked::before {
  display: block;
}

.grey {
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1000px) {
  .blank {
    padding: 25px 5%;
  }
}

@media only screen and (max-width: 700px) {
  .blank__data {
    width: 98%;
  }
}

@media only screen and (max-width: 576px) {
  .blank {
    background: #fffceb;
    font-size: 16px;
    &__title {
      font-size: 22px;
    }
    &__radio {
      font-size: 14px;
    }
    &__mark {
      font-size: 14px;
      .grey {
        font-size: 12px;
      }
    }
    &-wrapper {
      padding: 0;
    }
    &__radio {
      padding: 0;
    }
    &__input {
      padding: 12px 18px;
    }
  }
  .form {
    padding: 0;
  }
}
