.products {
  display: block;
  text-align: center;
  &__text {
    font-family: $text-font;
    font-size: 40px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }
  .red {
    text-transform: lowercase;
  }
  &__warning {
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.3em;
    text-align: left;
    opacity: 0.3;
    padding-bottom: 10px;
  }
}

.product__img {
  max-width: 100%;
}

@media only screen and (max-width: 576px) {
  .products {
    &__text {
      font-size: 18px;
      line-height: 25px;
    }
    &__warning {
      display: none;
    }
  }
}
